<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="/static/ico/favicon.ico">
        <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
        <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
        <script src="/static/js/script.js"></script>

        <title>OpenBitco.in</title>

        <!-- Bootstrap core CSS -->
        <link href="/static/css/bootstrap.css" rel="stylesheet">
        <link href="/static/css/carousel.css" rel="stylesheet">


        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
          <script src="/static/js/html5shiv.js"></script>
          <script src="/static/js/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>

        <!-- Static navbar -->
        <div class="navbar navbar-inverse">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#"><img src="/static/img/openbitcoin_tiny.png"> OPENBITCOIN</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#">Authenticate <img src="/static/img/authenticate.png"></a></li>
                        <li><a href="#">Request Verification <img src="/static/img/requestverification.png"></a></li>
                        <li><a href="#">Report a Bug on this Page <img src="/static/img/reportbug.png"></a></li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
        </div>

{% block body %}
{% endblock %}

        <div class="jumbotron gray" style="height:36px; color:#FFFFFF">
            <img src="/static/img/kopimi.png"> This website is shared freely because that's what the internet is for.
        </div>

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="/static/js/bootstrap.min.js"></script>
    </body>
</html>
